<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

<welcome-file-list>  
   <welcome-file>Login.html</welcome-file>  
    </welcome-file-list>  
<servlet>  
    <servlet-name>xyz</servlet-name>  
    <servlet-class>com.cdac.LoginServlet </servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>xyz</servlet-name>  
    <url-pattern>/login</url-pattern>  
  </servlet-mapping> 
  <servlet>  
    <servlet-name>abc</servlet-name>  
    <servlet-class>com.cdac.LoginSucessServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>abc</servlet-name>  
    <url-pattern>/LoginSucess</url-pattern>  
  </servlet-mapping> 
  <servlet>  
    <servlet-name>pqr</servlet-name>  
    <servlet-class>com.cdac.ProductServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>pqr</servlet-name>  
    <url-pattern>/AddProduct</url-pattern>  
  </servlet-mapping> 
    <servlet>  
    <servlet-name>rrr</servlet-name>  
    <servlet-class>com.cdac.ProductServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>rrr</servlet-name>  
    <url-pattern>/viewProduct</url-pattern>  
  </servlet-mapping> 
   <servlet>  
    <servlet-name>rds</servlet-name>  
    <servlet-class>com.cdac.ProductServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>rds</servlet-name>  
    <url-pattern>/delete</url-pattern>  
  </servlet-mapping> 
  <servlet>  
    <servlet-name>mmm</servlet-name>  
    <servlet-class>com.cdac.ProductServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>mmm</servlet-name>  
    <url-pattern>/searchProduct</url-pattern>  
  </servlet-mapping> 
   <servlet>  
    <servlet-name>nnn</servlet-name>  
    <servlet-class>com.cdac.ProductServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>nnn</servlet-name>  
    <url-pattern>/editProduct</url-pattern>  
  </servlet-mapping>
  </web-app>